#body {
    overflow-x: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  #home {
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(50, 50, 50, 0.25)),
      url("Payment/bg.jpg");
    background-position: center;
    background-size: center;
  }
  
  .support-area {
    background-image: url("Payment/bg.jpg");
    background-position: center;
    background-size: center;
  
  }
  
  .footer{
    background-color: brown;
    position: center;
    height: 30px;
    bottom: 0px;
    width: 100%;
  }
  
  .footer a{
    margin-top:0px;
    margin-right: 15px;
    margin-bottom: 10px;;
  }
  
  .footer-heading{
    margin-top:05px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  h1{
    font-size: 17px;
  }
  
  .nav-link {
    color: #fff !important;
  }
  
  .nav-link:hover {
    color: #ecb3ff !important;
  }
  
  .font-30 {
    font-size: 30px;
  }
  
  .font-25 {
    font-size: 25px;
  }
  
  .line {
    height: 2px;
    width: 100px;
    background-color: rgb(165, 35, 35);
  }
  
  .sparks {
    font-family: cursive;
  }
  
  .icon-area {
    background-color: #6c757d;
    padding: 10px;
    border-radius: 50%;
    transition: 1s;
  }
  
  .icon-area:hover {
    background-color: #fff;
  }
  
  .icon-area > div > i {
    color: #fff;
  }
  
  .icon-area > div > i:hover {
    color: #6c757d;
  }
  
  .about-head {
    letter-spacing: 1px;
  }
  
  .lead {
    font-size: 15px;
  }
  
  .right-float {
    animation: float-right 2s;
  }
  
  @keyframes float-right {
    0% {
      left: 5%;
      opacity: 0;
    }
    100% {
      left: 12%;
      opacity: 1;
    }
  }




*{
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .footer{
    background-color: brown;
    position: center;
    height: 30px;
    bottom: 0px;
    width: 100%;
  }
  
  .footer a{
    margin-top:0px;
    margin-right: 15px;
    margin-bottom: 10px;;
  }
  
  .footer-heading{
    margin-top:05px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  h1{
    font-size: 17px;
  }
  