#body {
  overflow-x: hidden;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#home {
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(50, 50, 50, 0.25)),
    url("./bg.jpg");
  background-position: center;
  background-size: center;
}

.support-area {
  background-image: url("./bg.jpg");
  background-position: center;
  background-size: center;

}

.footer{
  background-color: brown;
  position: center;
  height: 30px;
  bottom: 0px;
  width: 100%;
}

.footer a{
  margin-top:0px;
  margin-right: 15px;
  margin-bottom: 10px;;
}

.footer-heading{
  margin-top:05px;
  margin-right: 15px;
  margin-bottom: 10px;
}
h1{
  font-size: 17px;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: #ecb3ff !important;
}

.font-30 {
  font-size: 30px;
}

.font-25 {
  font-size: 25px;
}

.line {
  height: 2px;
  width: 100px;
  background-color: rgb(165, 35, 35);
}

.sparks {
  font-family: cursive;
}

.icon-area {
  background-color: #6c757d;
  padding: 10px;
  border-radius: 50%;
  transition: 1s;
}

.icon-area:hover {
  background-color: #fff;
}

.icon-area > div > i {
  color: #fff;
}

.icon-area > div > i:hover {
  color: #6c757d;
}

.about-head {
  letter-spacing: 1px;
}

.lead {
  font-size: 15px;
}

.right-float {
  animation: float-right 2s;
}

#support {
  width: 100%;
  height: 95vh;
  
  background-image: 
    url("./unnamed2.jpg");
background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #e3985a
}
@keyframes float-right {
  0% {
    left: 5%;
    opacity: 0;
  }
  100% {
    left: 12%;
    opacity: 1;
  }
}